@model ImageGallery.Client.ViewModels.OrderFrameViewModel

<div class="container">
	<div class="h3 bottomMarginDefault">Order a framed version of your favorite picture.</div>
	
	<div>your address is: @Model.Address</div>
</div>

